# IDE files
.idea
*.iml
.attach_pid*

# Downloaded deps
node_modules/

# Build files and binaries
target/
Debug/
Release/
build/

*.exe
*.dll
*.obj
*.pyc

*.a
*.o
*.ncb
*.sdf
*.suo
*.ilk
*.pdb

# Logs, dumps, etc
*.log
*.tlog
*.stackdump
